.leaflet-container {
  position: relative;
  height: 70vh;
  margin: 1.5% auto;
  width: 95%;
  border-radius: 14px;
  z-index: 0;
  box-shadow: 0px 0px 31px -10px rgba(133, 130, 133, 1);
}

@media (min-width: 1024px) {
  .leaflet-container {
    margin: 1.5%;
    width: 80%;
  }
}